.root{
    -fx-background-image: url("background.jpg")
}

.label{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: cadetblue;
    -fx-text-fill: white;
}

#texto-bienvenida{
    -fx-fill: cadetblue;
    -fx-font-family: "Arial Black";
    -fx-font-size: 28px;
    -fx-effect: innershadow(three-pass-box,rgba(0,0,0,0.7), 6,0.0,0,2);
}

#actiontarget{
    -fx-fill: brown;
    -fx-font-family: "Arial Black";
}